absl-py
astunparse
bleach
boto3
botocore
Box2D
cached-property
cachetools
certifi
chardet
click
cloudpickle
cma
cycler
docutils
Flask
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gym
h5py
html5lib
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
joblib
Keras-Preprocessing
kiwisolver
Lasagne@ https://github.com/Lasagne/Lasagne/archive/master.zip
Mako
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
openTSNE
opt-einsum
packaging
palette
pandas
Pillow
plotly
protobuf
pyasn1
pyasn1-modules
pygame
pyglet
pyparsing
PyPrind
python-dateutil
pytz
requests
requests-oauthlib
retrying
rsa
s3transfer
scikit-learn
scipy
seaborn
six
sns

tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-tensorboard

termcolor
Theano
threadpoolctl
urllib3
webencodings
Werkzeug
wrapt
zipp
